AddType application/manifest+json .webmanifest
AddType image/svg+xml .svg

<IfModule mod_headers.c>
  <FilesMatch "^(manifest\.webmanifest|service-worker\.js)$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
  </FilesMatch>
</IfModule>